.tpt-collection-list-4{

}
.tpt-collection-list-4__header{
	text-align: center;
	margin: 0 auto 60px;
}
.tpt-collection-list-4__header__h2{
	margin-bottom: 0px;
}
.tpt-collection-list-4__header__note{

}
.tpt-collection-list-4__collection-container{
	display: grid;
    grid-template-columns: repeat(4, minmax(200px, 250px));
    grid-template-rows: auto;
	gap: 20px 20px;

	margin: 0 auto 80px;
	width: fit-content;
}

.tpt-collection-list-4__collection-item{
	position: relative;
    background-size: cover;
    background-position: center;
}

.tpt-collection-list-4__collection-item{
	display: flex;
	justify-content: center;
	align-items: baseline;
}

.tpt-collection-list-4__collection-item.item-1 {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
}

.tpt-collection-list-4__collection-item.item-2 {
    grid-column: 2 / 3;
    grid-row: 1 / 2;
}

.tpt-collection-list-4__collection-item.item-3 {
    grid-column: 3 / 4;
    grid-row: 1 / 2;
}

.tpt-collection-list-4__collection-item.item-4 {
    grid-column: 4 / 5;
    grid-row: 1 / 2;
}

.tpt-collection-list-4__collection-item-image-wrapper {
	aspect-ratio: 1 / 1;
	max-width: 200px;
	min-width: 150px;
	object-fit: cover;
}

.tpt-collection-list-4__collection-item img {
	width: 100%;
	height: 100%;
	border-radius: 1000px;
}

.tpt-collection-list-4__collection-item-info {
	display: flex;
	flex-direction: column;
	color: #000000;
	margin-top: 12px;
}

.tpt-collection-list-4__collection-item-link {
	text-decoration: none;
	display: inline-flex;
	flex-direction: column;
	align-items: center;
}

.tpt-collection-list-4__collection-item-title {
	font-size: 24px;
	line-height: 1.2;
	font-weight: 500;
	text-align: center;
	margin: 0;
	color: var(--item-collection-name-color);
}

@media screen and (max-width: 1024px) {
	.tpt-collection-list-4__header{
		max-width: 600px;
		margin: 0 auto 30px;
		padding: 20px;
	}

	.tpt-collection-list-4__collection-container{
		grid-template-columns: repeat(2, minmax(100px, 250px));
		grid-template-rows: auto auto;
	}

	.tpt-collection-list-4__collection-item.item-1 {
		grid-column: 1 / 2;
		grid-row: 1 / 2;
	}
	
	.tpt-collection-list-4__collection-item.item-2 {
		grid-column: 2 / 3;
		grid-row: 1 / 2;
	}
	
	.tpt-collection-list-4__collection-item.item-3 {
		grid-column: 1 / 2;
		grid-row: 2 / 3;
	}
	
	.tpt-collection-list-4__collection-item.item-4{
		grid-column: 2 / 3;
		grid-row: 2 / 3;
	}

	.tpt-collection-list-4__collection-item-title{
		color: black;
		font-size: 20px;
		font-weight: 500;
	}
	
}


@media screen and (max-width: 768px) {
	
}